body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    
    
}
.contact-header{
    text-decoration: underline;
    margin-bottom: 15px;
}
.contact-icon{
    font-size: 36px;
}

.dev-icon{
    /* margin-left: 2% !important; */
    margin-right: 3% !important;
    font-size: 60px;
}

#main-header{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30%;
    /* left: 50%;
    transform: translateX(-50%); */
    line-height: 12em !important;

}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes scale {
    from{
        transform: scale3d(.55, .55, 1);
    }
    to{
        transform: scale3d(1, 1, 1);
    }
}
.navItem{
    font-size: 1.10em;
    /* margin: auto 0px; */
    color: white !important ;
}

.project-header{
    font-size: 1.7em !important;
    margin-bottom: 0 !important;
}
.project-col{
    margin-bottom: 30px;
}
.project-icon {
    margin-top: 0 !important;
    margin-right: 4%;
    font-size: 1.7em;
    color:inherit;
    text-decoration: none;
}

.project-icon:hover 
{
     color:inherit; 
     text-decoration:underline !important; 
     cursor:pointer;  
}

.project-title, .contact-title{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 30px !important;
}
#sec-title{
    margin-top: 20px !important;
}
.tech-used-icon{
    border-left: 2px solid grey;
    padding-top: 0;
    padding-bottom:0;
    padding-left: 2%;
}

#icons{
    animation: scale 1.5s;
}
#sec-title {
    font-size: 25px !important;
    animation: fade 1.5s;
}
#main-title{
    font-size: 50px !important;
    animation: fade 1.5s;
}

.tech-used{
    width: 50%;
    padding: auto 0;;
    border-bottom: 1px solid grey;
}
.fa-globe:hover{
    border-bottom: 1px solid grey;
}

#project-card{
    margin-top:30px !important;
}
@media screen and (max-width: 370px){
    #main-header{
        padding: 0;
        margin: 0;
        position: relative;
        margin-top: 50px !important;
        /* top: 80%;
        left: 50%;
        transform: translateX(-50%);  */
    }
    
    .contact-icon{
        display: none;
    }

    #sec-title{
        display: none;
    }

    .dev-icon{
        font-size: 25px;
        margin: 5px !important;
        padding: 0;
    }
    
}

@media screen and (max-width: 650px){
    #main-header{
        padding: 0;
        margin: 0;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }
    

    #sec-title{
        display: none;
    }

    .dev-icon{
        font-size: 30px;
        margin: 5px !important;
        padding: 0;
    }
    
}